# Чтение и запись данных

In [ ]:
import sqlalchemy
import psycopg2
import pandas as pd

## Урок 3. Чтение из баз данных с помощью pandas и sqlalchemy

### Практика

#### Задание 1

Подключитесь к базе данных, загрузите содержимое таблицы `course_purchases` в DataFrame и выведите первые 10 строк на экран.

#### Задание 2

Используя DataFrame из предыдущего задания, определите для каждого курса количество пользователей, купивших его. Подсказка: используйте метод groupby.

#### Задание 3. 

Используя SQL-запрос с группировкой (GROUP BY), определите для каждого курса количество пользователей, купивших его. Результат запроса загрузите в DataFrame и выведите первые 10 строк на экран.