# Чтение и запись данных

In [ ]:
import pandas as pd
import pymongo

## Урок 4. Работа с большими данными - MongoDB

### Практика

#### Задание 1.

Подключитесь к коллекции `tags` базы данных `movies` MongoDB и выведите первый документ на экран. Используйте строку подключения из ячейки ниже.

#### Задание 2.

Найдите документы, в которых имя тега (поле `name`) 'friendship', преобразуйте результат поиска в список и выведите содержимое списка на экран

#### Задание 3.

Преобразуйте список документов в pandas DataFrame и выведите первые 5 строк на экран