# Продвинутая визуализация с matplotlib

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

## Урок 2. Визуализация в цикле, несколько графиков на одной координатной сетке 

### Практика

#### Задание 1

Сравните распределения минимальных зарплат в 1980, 1990 и 2000 годах, построив 3 графика на одной координатной сетке. При постройке графиков на одной координатной сетке убедитесь, что столбцы всех трех графиков имеют одинаковую ширину столбцов, и все 3 графика одновременно видно.

In [3]:
df = pd.read_csv('wage-data-coast.csv')
df.head()

   Year       State   Salary  IsCoastal
0  1968     Alabama  0.00000          0
1  1968      Alaska  2.10000          1
2  1968     Arizona  0.66000          0
3  1968    Arkansas  0.15625          0
4  1968  California  1.65000          1