# Чтение и запись данных

In [1]:
import pandas as pd

## Урок 4. Запись файлов в формате csv

### Практика

#### Задание 1. 

Скачайте файл Practice2_1.csv, загрузите его в DataFrame с помощью библиотеки pandas и выведите первые 5 строк этого файла на экран. После этого сохраните этот DataFrame в файл MyPractice2_1.csv, при этом укажите в качестве разделителя символ точки с запятой `;` и задайте столбцу-индексу имя "index".

In [2]:
df = pd.read_csv('Practice2_1.csv')
df.head()

         Date Country    State        City  AvgTemperature
0  01/01/2012      US  Alabama  Birmingham            59.1
1  01/02/2012      US  Alabama  Birmingham            43.0
2  01/03/2012      US  Alabama  Birmingham            30.9
3  01/04/2012      US  Alabama  Birmingham            34.7
4  01/05/2012      US  Alabama  Birmingham            44.1

In [3]:
df.to_csv('MyPractice.csv', sep=';', index_label='index')

#### Задание 2. 

Снова выведите первые 5 строк файла Practice2_1.csv на экран. Обратите внимание на столбец `AvgTemperature`. В нем указана температура в градусах Фаренгейта. На основе столбца `AvgTemperature` cоздайте новый столбец с названием `AvgTemperature_2`, который будет содержать значения температуры, возведенные в квадрат. Затем сохраните этот DataFrame в файл MyPractice2_1.csv, используя в качестве разделителя запятую.

In [4]:
df.head()

         Date Country    State        City  AvgTemperature
0  01/01/2012      US  Alabama  Birmingham            59.1
1  01/02/2012      US  Alabama  Birmingham            43.0
2  01/03/2012      US  Alabama  Birmingham            30.9
3  01/04/2012      US  Alabama  Birmingham            34.7
4  01/05/2012      US  Alabama  Birmingham            44.1

In [7]:
df['AvgTemperature_2'] = df['AvgTemperature'] ** 2

In [ ]:
df.to_