# Чтение и запись данных

In [1]:
import pandas as pd

## Урок 2. Чтение файлов в формате CSV 

### Практика

#### Задание 1

Откройте файл Practice1_1.csv, загрузите его в DataFrame с помощью библиотеки pandas и выведите первые 5 строк этого файла на экран. Выведите на экран название **предпоследнего** столбца этого файла. Обратите внимание, что при загрузке файла вам может потребоваться явно указать разделитель столбцов.

In [3]:
df = pd.read_csv('Урок 2. Практика. Данные/Practice1_1.csv')
df.head()

,Date,Country,State,City,AvgTemperature
0,2012-12-02,US,Additional Territories,San Juan Puerto Rico,79.4
1,2012-12-03,US,Additional Territories,San Juan Puerto Rico,77.9
2,2012-12-04,US,Additional Territories,San Juan Puerto Rico,79.8
3,2012-12-05,US,Additional Territories,San Juan Puerto Rico,80.2
4,2012-12-06,US,Additional Territories,San Juan Puerto Rico,78.2

In [6]:
df.columns[-2]

'City'

#### Задание 2. 

Откройте файл Practice1_2.csv и загрузите его в DataFrame с помощью библиотеки pandas, указав правильный разделитель столбцов и выбрав столбец-индекс.

In [10]:
df1 = pd.read_csv('Урок 2. Практика. Данные/Practice1_2.csv', sep=';', index_col=0)
df1.head()

,Date,Country,State,City,AvgTemperature
56334,2012-12-02,US,Additional Territories,San Juan Puerto Rico,79.4
56335,2012-12-03,US,Additional Territories,San Juan Puerto Rico,77.9
56336,2012-12-04,US,Additional Territories,San Juan Puerto Rico,79.8
56337,2012-12-05,US,Additional Territories,San Juan Puerto Rico,80.2
56338,2012-12-06,US,Additional Territories,San Juan Puerto Rico,78.2

#### Задание 3

Откройте файл Practice1_3.csv, загрузите его в DataFrame с помощью библиотеки pandas и выведите первые 5 строк этого файла на экран. Выведите на экран все записи, в которых значение температуры превышает 30 градусов. Обратите внимание, что вам может потребоваться явно указать разделитель столбцов.

In [12]:
df2 = pd.read_csv('Урок 2. Практика. Данные/Practice1_3.csv')
df2.head()

         Date Country    State        City  AvgTemperature
0  2012-01-03      US  Alabama  Birmingham            30.9
1  2012-01-04      US  Alabama  Birmingham            34.7
2  2012-01-13      US  Alabama  Birmingham            31.6
3  2012-02-12      US  Alabama  Birmingham            29.5
4  2012-02-13      US  Alabama  Birmingham            34.8

In [13]:
df2[df2['AvgTemperature'] > 30]

          Date Country    State        City  AvgTemperature
0   2012-01-03      US  Alabama  Birmingham            30.9
1   2012-01-04      US  Alabama  Birmingham            34.7
2   2012-01-13      US  Alabama  Birmingham            31.6
4   2012-02-13      US  Alabama  Birmingham            34.8
5   2012-12-27      US  Alabama  Birmingham            34.3
6   2012-12-30      US  Alabama  Birmingham            34.5
8   2012-01-04      US  Alabama  Huntsville            32.6
9   2012-01-13      US  Alabama  Huntsville            30.1
10  2012-02-11      US  Alabama  Huntsville            34.8
12  2012-02-13      US  Alabama  Huntsville            31.5
13  2012-12-30      US  Alabama  Huntsville            34.1
14  2012-01-04      US  Alabama  Montgomery            34.3
15  2012-02-12      US  Alabama  Montgomery            33.3